In [35]:
import pandas as pd

In [36]:
df=pd.read_csv('data.csv')

In [37]:
df.isnull().sum()

id            0
user          0
state         0
city          0
created_at    0
dtype: int64

In [38]:
df['city']

0           Bhubaneswar
1       Pathanamthitt a
2            Malappuram
3            Malappuram
4               Bhojpur
             ...
1476             Badgam
1477             Valsad
1478        Gandhinagar
1479              Daman
1480        East Kameng
Name: city, Length: 1481, dtype: object

In [39]:
city_list = [city.strip()+"," for city in df['city'].dropna().unique()]

In [40]:
with open('city_list.csv', 'w') as file:
    for city_tuple in city_list:
        file.write(f"{city_tuple}\n")

# creating sanitizer dataset

In [47]:
sanitizer_df=pd.read_csv('sanitizer.csv')
user_df=pd.read_csv('user.csv')
city_df=pd.read_csv('new_city.csv')

In [48]:
for city in city_df['city']:

Bhubaneswar
Pathanamthitt a
Malappuram
Bhojpur
Thiruvarur
Pudukkottai
Pondicherry
Koraput
Balangir
Anugul
Akola
Umaria
Narsinghpur
Palakkad
Haveri
Chikkamagalu ru
Bengaluru Urban
East Singhbum
Kathua
Jammu
Surat
Devbhumi Dwarka
Chhotaudepur
Khagaria
Majuli
Kokrajhar
Karbi Anglong
Kamrup
Darrang
Tirupati
Bapatla
Bhopal
Thrissur
Giridih
Dhanbad
Bokaro
Solan
Vaishali
24 Paraganas North
Lucknow
Lalitpur
Ambedkar Nagar
Villupuram
Theni
Thanjavur
Hoshiarpur
Sonepur
Rayagada
Jharsuguda
West Garo Hills
East Khasi Hills
Washim
Raigad
Nanded
Nagpur
Kolhapur
Chandrapur
Ujjain
Satna
Rewa
Mandsaur
Khargone
Jhabua
Guna
Dewas
Burhanpur
Kannur
Idukki
Vijayanagar
Tumakuru
Raichur
Mysuru
Kodagu
Chitradurga
Saraikela Kharsawan
Jamtara
Dumka
Deoghar
Baramulla
Karnal
Surendranagar
Sabar Kantha
Rajkot
Panchmahals
Navsari
Ahmedabad
Ahmadabad
Purbi Champaran
Madhubani
Jamui
Gopalganj
Sonitpur
Karimganj
Dibrugarh
Charaideo
Bajali
Tiruvannamal ai
Thiruvallur
Sundargarh
Cuttack
Palghar
Gondia
Gadchiroli
Chhindwara
Chhatarpur
Barwani
Shivamogga
Jehanabad
Nandamuri Taraka Rama Rao (NTR)
Thoubal
Indore
Leparada
Howrah
Birbhum
Jhansi
Farrukhabad
Unakoti
Tiruppur
Ariyalur
Shahid Bhagat Singh Nagar
Mayurbhanj
Deogarh
Bargarh
Thane
Gwalior
Dhar
Alirajpur
Chamarajanag ar
Shopian
Anantnag
Vadodara
Anand
Begusarai
Gaya
Peddapalli
Madurai
Parbhani
Osmanabad
Betul
Kozhikode
Kasaragod
Koppal
Dakshin Kannad
Valsad
Sukma
Gariyaband
Bijapur
Pauri Garhwal
Nainital
Shravasti
North Tripura
Tiruchirappalli
Sivaganga
Cuddalore
Sikar
Patiala
Moga
Ganjam
Bhadrak
Aizawl
Satara
Pune
Dhule
Amravati
Ahmednagar
Shivpuri
Seoni
Raisen
Mandla
Katni
Jabalpur
Hoshangabad
Ashoknagar
Wayanad
Pathanamthitta
Kottayam
Alappuzha
Yadgir
Udupi
Mandya
Ranchi
Poonch
Kupwara
Ganderbal
Fatehabad
Narmada
Kabirdham
Janjgir- Champa
Durg
Bilaspur
Patna
Goalpara
Chirang
Lohit
Palnadu
North Goa
Rajnandgaon
East Kameng
Ballia
Dadra And Nagar Haveli
Tiruvannamala i
Perambalur
Krishnagiri
Kota
Sambalpur
Malkangiri
Sindhudurg
Nandurbar
Latur
Hingoli
Sagar
Uttar Kannad
Mandi
Arvalli
Saharsa
Udalguri
Biswanath
Papumpare
24 Paraganas South
Unnao
Nirmal
Salem
Dindigul
Ludhiana
Ri Bhoi
Ernakulam
Khunti
Garhwa
Sarangarh Bilaigarh
Samastipur
Eluru
Prayagraj
Banda
Daman
Tirunelveli
Kanchipuram
Faridkot
Harda
Thiruvananth apuram
Kalaburagi
Lohardaga
Udhampur
Bandipora
Kinnaur
Mahasamund
Baloda Bazar
Jorhat
Nandyal
Kakinada
Chittoor
Anantapur
Hamirpur
Banaskantha
Raipur
Alipurduar
Erode
Gyalshing
Gangtok
Tonk
Puri
Kandhamal
Dhenkanal
West Jaintia Hills
South West Khasi Hills
Eastern West Khasi Hills
Singrauli
Sheopur
Datia
Kollam
Gadag
Chikballapur
West Singhbhum
Simdega
Hazaribagh
Srinagar
Samba
Pashchim Champaran
SPSR Nellore
Nicobars
Tapi
Changlang
Konaseema
Purba Bardhaman
Murshidabad
Faizabad
Kallakurichi
Coimbatore
Fazilka
Yavatmal
Buldhana
Vijayapura
Bagalkot
Bemetara
Bongaigaon
Hooghly
Siddharth Nagar
Gomati
Vellore
Tirupathur
Namakkal
Gajapati
West Khasi Hills
Shahdol
Sehore
Bhind
Hassan
Belagavi
Sahebganj
Latehar
Koderma
Gandhinagar
Bhavnagar
Nagaon
Golaghat
Dhemaji
NTR
Kurnool
Pakur
Marigaon
Purulia
Almora
Sangli
Bhandara
Morena
Kheda
Saran
Nalbari
Tawang
Annamayya
Alluri Sitharama Raju
Ramanagara
Chatra
Rajauri
Kangra
Morbi
Gir Somnath
Amreli
Katihar
South Salmara Mancachar
Dhubri
Papum Pare
Jalpaiguri
Mathura
Nabarangpur
Agar Malwa
Tumkur
Godda
Botad
Lakhimpur
Cachar
Jalgaon
Tikamgarh
Leh Ladakh
Gumla
Kachchh
Kamrup Metro
Upper Subansiri
Longding
Nashik
Sri Sathya Sai
Rudraprayag
Kannauj
Khowai
Ranga Reddy
Tiruchirappal li
Nayagarh
Dimapur
Jalna
Kolar
Bidar
Ballari
Mahisagar
Chandauli
Boudh
Lower Subansiri
Barabanki
Yadadri Bhuvanagiri
Senapati
Pulwama
Panchkula
Patan
Junagadh
Mahesana
Kushinagar
Jalaun
The Nilgiris
Karur
Neemuch
Thiruvanantha puram
Raigarh
Y.S.R.
Fatehgarh Sahib
Nuapada
East Garo Hills
Nuh
Jamnagar
Arwal
Imphal West
Wardha
Ghaziabad
Kanniyakumar i
Pathankot
Gurdaspur
Surajpur
Sakti
Aurangabad
Hojai
Kalahandi
Kakching
Davangere
Medinipur West
Muzaffarnagar
Kushi Nagar
Bhadohi
Jalandhar
Khordha
Jajpur
Kamjong
Rajgarh
Balaghat
Doda
Kaithal
Arvalli
Mungeli
West Karbi Anglong
Gautam Buddha Nagar
Dausa
Baleshwar
Champhai
Bengaluru Rural
Tinsukia
Balod
Pratapgarh
Dantewada
Guntur
Amroha
Kendrapara
Jagatsinghapur
East Jaintia Hills
Bishnupur
Bharuch
Sheohar
Sivasagar
Firozepur
Badgam

In [49]:
for city in range(0,5):

In [27]:
new_df = pd.DataFrame({
    'id': user_df['id'],
    'username': user_df['username'],
    'city': 'city',
    'state': "state",
    'zip': "zip",
    'contact_person': "contact_person",
    'phone': '1111111111',  # Added static value
    'email': user_df['email'],
    'profile_image': 'profile_image',  # Static value
    'CPphone': '3339855649',  # Static value
    'CPemail': 'contact@example.com',  # Static value
    'longitude': "longitude",
    'latitude': "latitude",
    'isChecked': 0,  # Static value
    'isSubmitted': 1,  # Static value
    'is_verified': 1  # Static value
})

In [50]:
new_df

,id,username,city,state,zip,contact_person,phone,email,profile_image,CPphone,CPemail,longitude,latitude,isChecked,isSubmitted,is_verified
0,63,user63,city,state,zip,contact_person,1111111111,user63@example.com,profile_image,3339855649,contact@example.com,longitude,latitude,0,1,1
1,62,user62,city,state,zip,contact_person,1111111111,user62@example.com,profile_image,3339855649,contact@example.com,longitude,latitude,0,1,1
2,61,user61,city,state,zip,contact_person,1111111111,user61@example.com,profile_image,3339855649,contact@example.com,longitude,latitude,0,1,1
3,60,user60,city,state,zip,contact_person,1111111111,user60@example.com,profile_image,3339855649,contact@example.com,longitude,latitude,0,1,1
4,59,user59,city,state,zip,contact_person,1111111111,user59@example.com,profile_image,3339855649,contact@example.com,longitude,latitude,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,6,user6,city,state,zip,contact_person,1111111111,user6@example.com,profile_image,3339855649,contact@example.com,longitude,latitude,0,1,1
58,5,user5,city,state,zip,contact_person,1111111111,user5@example.com,profile_image,3339855649,contact@example.com,longitude,latitude,0,1,1
59,4,user4,city,state,zip,contact_person,1111111111,user4@example.com,profile_image,3339855649,contact@example.com,longitude,latitude,0,1,1
60,3,anuragsingh,city,state,zip,contact_person,1111111111,anurag6569201@gmail.com,profile_image,3339855649,contact@example.com,longitude,latitude,0,1,1
61,1,anirudha,city,state,zip,contact_person,1111111111,anirudha2685@gmail.com,profile_image,3339855649,contact@example.com,longitude,latitude,0,1,1

In [33]:
len(city_df)

444